.fondo{
  background-color: rgb(255, 229, 189);
}

.form-register {
    width: 400px;
    background: #ee9c05;
    padding: 20px;
    margin: auto;
    margin-top: 10px;
    border-radius: 4px;
    font-family: 'calibri';
    color: rgb(0, 0, 0);
    box-shadow: 7px 13px 37px #000;
  }
  
  .form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  
  .controls {
    width: 100%;
    background: #7e95ad;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #000000;
    font-family: 'calibri';
    font-size: 18px;
    color: rgb(0, 0, 0);
  }
  
  .form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }
  
  .form-register a {
    color: white;
    text-decoration: none;
  }
  
  .form-register a:hover {
    color: white;
    text-decoration: underline;
  }
  
  .botones {
    width: 100%;
    background: #7e95ad;
    border: none;
    padding: 12px;
    color: rgb(7, 6, 6);
    margin: 16px 0;
    font-size: 16px;
  }

  .checkeo{
    margin-left: 95px;
    padding: 5px;
  }